<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <modules>

    <module assemblyFile="Metrics.Inputs.dll" moduleType="Metrics.Inputs.InputsModule, Metrics.Inputs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Inputs" startupLoaded="true" />


    <!--<module assemblyFile="Metrics.Volcker.dll" moduleType="Metrics.Volcker.ModuleInit, Metrics.Volcker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Volcker" startupLoaded="true" />
    
    <module assemblyFile="Metrics.MainModule2.dll" moduleType="Metrics.MainModule2.ModuleInit, Metrics.MainModule2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MainModule2" startupLoaded="true" />-->
    <!--<module assemblyFile="Metrics.MainModule2.dll" moduleType="Metrics.MainModule2.ModuleInit, Metrics.MainModule2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MainModule2" startupLoaded="true" />-->

  </modules>
  
</configuration>