<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <modules>
    <module assemblyFile="WPFPlugin1.dll" moduleType="WPFPlugin1.WPFPlugin1, WPFPlugin1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WPFPlugin1" startupLoaded="true" />
  </modules>
  
</configuration>